<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href='../static/style.css'/>

    <title>Mahesh Automation</title>
  </head>
  <body>
	<div class="container">
	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="/">
		<img src="/static/images/remote-control.svg" width="45" height="45" class="d-inline-block align-top" alt="">
		Home automation
	  </a>
	</nav>
	<div class="row">
		<div class="col">
			<div class="card">				
				<div class="card-body">
				  <h5 class="card-title">Devices Status</h5>
				  <hr>
				  <p class="card-text">
					<h4> Lights: <b>{{ lights_status }}</b></h4>
					<h4> Fan: <b>{{ fan_status  }}</b></h4>
					<h4> TV: <b>{{ tv_status  }}</b></h4>		
					<h4> All: <b>{{ all_devices  }}</b></h4>
				  </p>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
			<br>
		</div>
		<div class="col">
			<table class="table table-dark">
			  <thead>
				<tr>
				  <th scope="col">#</th>
				  <th scope="col">Device</th>
				  <th scope="col">Action</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <th scope="row">1</th>
				  <td>Lights</td>
				  <td><a href="/lights/off" class="btn btn-secondary float-right" type="button">TURN OFF</a>
					<a href="/lights/on" class="btn btn-success float-right" type="button">TURN ON</a></td>
				</tr>
				<tr>
				  <th scope="row">2</th>
				  <td>Fan</td>
				  <td><a href="/fan/off" class="btn btn-secondary float-right" type="button">TURN OFF</a>
					<a href="/fan/on" class="btn btn-success float-right" type="button">TURN ON</a>  </td>
				 
				</tr>
				<tr>
				  <th scope="row">3</th>
				  <td>TV</td>
				  <td><a href="/tv/off" class="btn btn-secondary float-right" type="button">TURN OFF</a>
					<a href="/tv/on" class="btn btn-success float-right" type="button">TURN ON</a>  </td>
				
				<tr>
				  <th scope="row">4</th>
				  <td>All</td>
				  <td><a href="/turn_all/off" class="btn btn-secondary float-right" type="button">TURN OFF</a>
					<a href="/turn_all/on" class="btn btn-success float-right" type="button">TURN ON</a></td>
				 
				</tr>
			  </tbody>
			</table>
		</div>
	  </div>
	</div>  
	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
